body {
  background-color: #c90404;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

#show-price {
  display: none;
}

#total-price {
  font-size: large;
}

.jumbotron {
  background-color: #e1eb5e;
}

.btn {
  color: #000000;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
}

#img-two {
  float: right;
}